@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400&family=PT+Serif:ital@1&family=Ubuntu+Mono&display=swap');

:root {
    --font-heading: "PT Serif", serif;
    --font-text: "Albert Sans", sans-serif;
    --font-accent: "Ubuntu Mono", monospace;

    --clr-black-blue: #163752;
    --clr-black-blue-lt: #254b70;

    --clr-grey-blue: #6699cc;
    --clr-grey-blue-med: #3e7cb9;

    --clr-grey-blue-lt: #bed4c9;
    --clr-grey-blue-xlt: #eaf1f8;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-grey-blue-lt);
    color: var(--clr-black-blue)
}

h1, h2, h3 {
    font-family: var(--font-heading);

}

a, li {
    font-family: var(--font-accent);
}

p {
    font-family: var(--font-text);
}
